# IDE files
.idea/
*.iml

# Build directories
cmake-build-*/
build/

# CMake files
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
install_manifest.txt

# Executables and binaries
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Object files
*.o
*.obj

# Text files
*.txt

# System files
.DS_Store
Thumbs.db

# Logs
*.log

