*/.idea/
*/*.txt
*.txt
cmake-build-debug/
*/cmake-build-debug/
c-examples/c-basics/.idea
c-basics/.idea/
c-basics/cmake-build-debug
c-pointers/.idea/editor.xml
c-pointers/.idea/misc.xml
c-pointers/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
stack/cmake-build-debug/
stack/cmake-build-debug/*
