c-examples/c-basics/.idea
c-basics/.idea/misc.xml
c-pointers/.idea/misc.xml
c-basics/.idea/editor.xml
c-basics/.idea/misc.xml
c-basics/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
c-pointers/.idea/editor.xml
c-pointers/.idea/misc.xml
c-pointers/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
stack/cmake-build-debug/
stack/cmake-build-debug/*
